.grid {
    display: grid;
    width: 500px;
    height: 500px;
    padding: 3px;
    border-radius: 3px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 5px 5px;
}

.cell {
    /* Is calculated based on width/height and rows/columns*/
    /* width: 20px; */
    /* height: 20px; */
    background-color: white;
}

h1
{
    font-size: 50px;
    line-height: 150px;
    text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color: #FF9933;
    padding:10px;
    font-weight:lighter;
    text-align:center;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
}


/* CSS */
#clear {
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 15px auto auto auto;
}

#clear:active,
#clear:hover {
    outline: 0;
}

#clear:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
}
